<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>cWorld TEMA VISTAS Django</title>
</head>
<body>
	{% extends 'base.html' %}
	{% block titulo %} Recetas registradas {% endblock %}

	{% block css %}
		<style>
			img {width:100px;}
		</style>
	{% endblock %}

	{% block encabezado %}
		<h1>Nuestras Recetas</h1>
	{% endblock %}

	{% block contenido %}
	<ul>
		{% for dato n datos %}
		<li>
			<a href="{% url principal.views.detalle_receta dato.id %}">{{dato.titulo}}</a>
			<img src="{{MEDIA_URL}}{{dato.imagen}}">
		</li>
		{% empty %}
		<li>Aún no hay recetas registradas.</li>
		{% endfor %}
	</ul>
	{% endblock %}
</body>
</html>
