<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>cWorld TEMA VISTAS Django</title>
</head>
<body>
	{% extends 'base.html' %}
	{% block titulo %} Usuarios registrados  {% endblock %}

	{% block encabezado %}
		<h1>Colaboradores</h1>
	{% endblock %}

	{% block contenido %}
	<ul>
		{% for dato in usuarios %}
		<li>{{dato.username|capfirst}} - <em>{{dato.email}}</em>
			<ul>
				{% for item in recetas %}
					{% if item.usuario == dato %}	
						<li>{{item}}</li>
					{% endif %}
				{% empty %}
					<li>Este usuario auno no ha registrado recetas.</li>
				{% endfor %}
			</ul>
		</li>
		{% empty %}
		<li>No hay usuarios registrados, aún.</li>
		{% endfor %}
	</ul>
	{% endblock %}
</body>
</html>
